# Miscellary

- Kind of musics that I listen to: [Youtube Playlist](https://youtube.com/playlist?list=PLt1gpm5PbdE9WI5sEAiqQVT_Y-QV2Uju-&si=vqaqjjV0wmlu7WAt). I also keep seperate playlist for my [Vietnamese ones](https://www.youtube.com/playlist?list=PLt1gpm5PbdE8xwVNiITCLO0geRX4olqM9).

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=Bgrc2CFCiJyjtYd5&amp;list=PLt1gpm5PbdE9WI5sEAiqQVT_Y-QV2Uju-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br/>

- I remembered pi up to 100 digits.