@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Ewert&display=swap');
@import 'tailwindcss';

@font-face {
    font-family: 'Danh Da';
    src:
        url('/fonts/DanhDa-Bold.woff2') format('woff2'),
        url('/fonts/DanhDa-Bold.woff') format('woff');
    font-display: swap;
}

@theme {
    /* --colors-black: #332e2e; */
    /* --color-text: #332e2e; */
    --color-background: #fff7f2;
    --color-background2: #ede4e1;
    /* --color-primary: #f38ba0; */
    --color-primary: #f17e6d;
    /* --color-primary: #f05f3f; */
    --color-pink: #ffd3f3;
    --color-dark: #5c1e1b;
    --color-brown: #5c3c3d;
    --font-danhda: Danh Da, Signika, Roboto, sans-serif;
}
