<script>
    import PhotoCard from '$lib/index/components/PhotoCard.svelte'

</script>

<svelte:head>
    <title>Gallery</title>
</svelte:head>

# Gallery

<br />
<PhotoCard>
    <img src="/img/gallery/img1.jpg" alt="sunset" class="w-56 h-64 mb-2 object-cover" />
</PhotoCard>
